#parse("/velocity/layout.vm")
#@mainLayout()
<div >
    <table>
        <tr>
            <th>Phone number</th>
            <th>Name</th>
            <th>Account type</th>
        </tr>
        #foreach($account in $accounts)
        <tr>
            <td>$account.getPhoneNumber()</td>
            <td>$account.getClientName()</td>
            <td>$account.getAccountType()</td>
        </tr>
        #end
    </table>

</div>
#end